.partners-wrapper .partner-1-background, .partners-wrapper .partner-2-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  float: left;
  padding: 50px 0;
}
.partners-wrapper .partner-1-background h2, .partners-wrapper .partner-1-background .partner-slider, .partners-wrapper .partner-1-background .partner-2-content, .partners-wrapper .partner-2-background h2, .partners-wrapper .partner-2-background .partner-slider, .partners-wrapper .partner-2-background .partner-2-content {
  max-width: 1290px;
  margin: 0 auto;
}
.partners-wrapper .partner-1-background {
  background-image: url("../images/partners-section-bg.jpg");
}
.partners-wrapper .partner-1-background h2 {
  color: #fff;
  font-size: 24px;
  padding-bottom: 30px;
}
.partners-wrapper .partner-1-background .partner-slider {
  background-color: #0000008a;
  clear: both;
  width: 100%;
  overflow: hidden;
  padding: 30px;
}
.partners-wrapper .partner-1-background .partner-slider .partner-1-left {
  width: 50%;
  float: left;
}
.partners-wrapper .partner-1-background .partner-slider .partner-1-left .partner-1-left-content .partner-1-logo {
  padding: 20px 0;
}
.partners-wrapper .partner-1-background .partner-slider .partner-1-left .partner-1-left-content .partner-1-title {
  color: #fff;
  font-size: 18px;
  padding-bottom: 15px;
}
.partners-wrapper .partner-1-background .partner-slider .partner-1-left .partner-1-left-content .partner-1-excerpt {
  color: #fff;
  font-size: 14px;
}
.partners-wrapper .partner-1-background .partner-slider .partner-1-left .partner-1-left-content .read-more a {
  color: #fff;
  font-size: 16px;
}
.partners-wrapper .partner-1-background .partner-slider .partner-1-left .partner-1-left-content .read-more a:hover {
  text-decoration: none;
  color: #fff;
}
.partners-wrapper .partner-1-background .partner-slider .partner-1-right {
  width: 50%;
  float: left;
  text-align: center;
}
.partners-wrapper .partner-1-background .partner-slider .partner-1-modal {
  border: 1px solid red;
  clear: both;
  width: 100%;
  display: none;
}
.partners-wrapper .partner-2-background {
  background-image: url("../images/partners-bg-spicejet.jpg");
}
.partners-wrapper .partner-2-background .partner-2-content .partner-2-left {
  width: 50%;
  float: left;
}
.partners-wrapper .partner-2-background .partner-2-content .partner-2-left .partner-2-logo {
  padding: 30px 0 20px;
}
.partners-wrapper .partner-2-background .partner-2-content .partner-2-left h2 {
  color: #fff;
  font-size: 24px;
  padding-bottom: 30px;
}
.partners-wrapper .partner-2-background .partner-2-content .partner-2-left .partner-2-body {
  color: #fff;
  font-size: 14px;
}
.partners-wrapper .partner-2-background .partner-2-content .partner-2-right {
  width: 50%;
  float: left;
  text-align: right;
}

body:not(.custom-background-image):before, body:not(.custom-background-image):after {
  height: 0px !important;
}

#page {
  margin: 0;
}
#page .site-inner {
  max-width: 100%;
}

#content {
  padding: 0;
  max-width: 100%;
  margin: 0 auto;
  border: solid red;
}
#content .content-area {
  width: 100%;
}

/*# sourceMappingURL=custom.css.map */
