  
  @font-face {
    font-family: SourceSans-Bl;
    src:url(../fonts/SourceSansPro-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: SourceSans-Bd;
    src:url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: SourceSans-Lt;
    src:url(../fonts/SourceSansPro-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: SourceSans-Rg;
    src:url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: SourceSans-Semib;
    src:url(../fonts/SourceSansPro-SemiBold.ttf) format('truetype');
  }
 