.page-template-contact{
    .content-area {
        background: linear-gradient(to bottom, #0c2160 0, #0c2160 350px, #f5f5f5 350px, #f5f5f5 680px, #ffffff 680px, #ffffff 100%);
    }
    .contact-content{
        .contact-form, .contact-content{
            max-width: 1290px;
            margin: 0 auto;
        }
        .contact-wrapper{
            padding-top: 20px;
            background-color: transparent;
            padding-bottom: 40px;
        }
        .contact-container{
            max-width: 1290px;
            margin: 0 auto;
            padding: 40px 0px;
            @media all and (max-width: 991px) {
                padding: 20px 0;
            }
        }
            .contact-title {
                color: #fff;
                font-size: 45px;
                padding-bottom: 50px;
                font-family: SourceSans-Bd;
                font-weight: 500;
                text-transform: capitalize;
                padding: 20px;
                @media all and (max-width: 991px) {
                    padding:10px 20px;
                    font-size: 40px;
                }
                @media all and (max-width: 768px) {
                  text-align: center;
                  font-size: 35px;
                }
  
            }
            .contact-form{
                background-color: #fff;
                padding: 20px;
                max-width: 1290px;
                margin: 0 auto;
                text-align: left;
                box-shadow: 0px 2px 15px 1px rgba(93, 93, 93, 0.5) ;
                -webkit-box-shadow: 0px 2px 15px 1px rgba(93, 93, 93, 0.5);
                -moz-box-shadow: 0px 2px 15px 1px rgba(93, 93, 93, 0.5);
                @media all and (max-width: 1350px) {
                    margin:0 20px 20px 20px;  
                }
                .wpcf7{
                    .row{
                        .form-group {
                            position:relative;  
                            margin: 20px 0;
                            .form-label {
                                position: absolute;
                                left: 17px;
                                top: 5px;
                                color: #999999;
                                background-color: #fff;
                                z-index: 10;
                                transition: transform 150ms ease-out, font-size 150ms ease-out;
                                font-family: SourceSans-Rg;
                                font-size: 16px;
                                text-decoration: none;
                                line-height: 0.5 !important;
                              }
                              label {
                                font-weight: 400; 
                            }
                          }
                          .focused .form-label {
                            transform: translateY(-175%);
                            font-size: 14px;
                          }
                          input[type="date"], input[type="time"],input[type="tel"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {
                           background: none !important; 
                            background-image: none !important; 
                            border: none !important; 
                            font-size: 16px;
                            border-radius: 0 !important;
                            padding: 15px 0 0 0!important;
                            border-bottom: 1px solid #e5e5e5 !important;
                           
                          }
                          input[type="date"]:focus, input[type="time"]:focus,input[type="tel"]:focus, input[type="datetime-local"]:focus, input[type="week"]:focus, input[type="month"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus {
                            background-color: #fff;
                            border: none !important;
                            border-bottom: 1px solid !important;
                            border-color: #007acc;
                            color: #1a1a1a;
                            outline: 0;
                          }
                          .form-input {
                            position: relative;
                            padding: 10px 0px 0 0;
                            width: 100%;
                            outline: 0;
                            border: 0;
                            // box-shadow: 0 1px 0 0 #e5e5e5;
                            border-bottom: 1px solid #e5e5e5 !important;
                            transition: border-bottom 150ms ease-out;
                            
                            &:focus {
                            //   box-shadow: 0 1px 0 0 #001658;
                            border-bottom: 1px solid #001658;
                            }
                          }
                          
                          .form-input.filled {
                            // box-shadow: 0 1px 0 0 #001658;
                            border-bottom: 1px solid #001658;
                          }
                          
                    }
                    button, button[disabled]:hover, button[disabled]:focus, input[type="button"], input[type="button"][disabled]:hover, input[type="button"][disabled]:focus, input[type="reset"], input[type="reset"][disabled]:hover, input[type="reset"][disabled]:focus, input[type="submit"], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:focus {
                        background: #fff !important;
                        color: #000 !important;
                        padding: 15px 40px !important;
                        text-transform: capitalize !important;
                        font-family: SourceSans-Rg !important;
                        font-size: 16px !important;
                        box-shadow: 0px 2px 15px 1px rgba(93, 93, 93, 0.5) !important;
                        -webkit-box-shadow: 0px 2px 15px 1px rgba(93, 93, 93, 0.5) !important;
                        -moz-box-shadow: 0px 2px 15px 1px rgba(93, 93, 93, 0.5) !important;
                    }
                    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
                        //border: 2px solid red;
                        border: 1px solid #d87b7b;
                        border-radius: 3px;
                        color: #b91f1f;
                        padding: 4px 6px;
                        background-color: #ffebeb;
                        margin: 2em 0 1em;
                    } 
                    input[type="submit"]:focus{
                        outline: 0 !important;
                      }
                }
        }
        .contact-bottom{
            
            @media all and (min-width: 991px) {
                padding-top: 40px;
            }
            .contact-content{
                padding-top: 40px;
                padding-bottom: 40px;
                clear: both;
                overflow: hidden;
                @media all and (max-width: 1350px) {
                    padding: 30px 20px;
                }
                .physical-address{
                    float: left;
                    width: 40%;
                    vertical-align: middle;
                    @media all and (max-width: 767px) {
                        float:none;
                        width: 100%;
                    }
                    p {
                        font-family: SourceSans-Rg;
                        font-size: 16px;
                        line-height: 21px;
                        letter-spacing: 1px;
                        margin: 0;
                        span{
                            font-size: 18px;
                            font-family: SourceSans-Bd;
                            @media all and (max-width: 768px) {
                                font-size: 17px;
                            }
                       }
                    }
                }
                .contact-map{
                    float: right;
                    width: 50%;
                    vertical-align: middle;
                    @media all and (max-width: 767px) {
                        float:none;
                        width: 100%;
                        padding-top:30px;
                    }
                    embed, iframe, object, video {
                        height: 300px;
                    }
                }
            }
        }
        
    }   
}