.partners-wrapper {
    clear: both;
    overflow: hidden;
    .partner-1-background,
    .partner-2-background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        float: left;
        padding: 50px 0;
        h2,
        .partner-slider,
        .partner-2-content {
            max-width: 1290px;
            margin: 0 auto;
            @media all and (max-width: 1330px) {
                padding: 0 20px;
            }
        }
    }
    .partner-1-background {
        background-image: url('../images/partners-section-bg.jpg');
        padding-bottom: 80px;
        h2 {
            color: #fff;
            font-size: 24px;
            padding-bottom: 40px;
            &:after {
                display: block;
                content: "";
                width: 200px;
                border-bottom: solid 6px white;
                border-radius: 20px;
                margin-top: 5px;
            }
        }
        .partner-slider {
            background-color: #0000008a;
            clear: both;
            width: 100%; //overflow: hidden;
            padding: 30px;
            @media all and (max-width: 1350px) {
                width: 94%;
            }
            @media all and (max-width: 991px) {
                width: 90%;
            }
            /*Style for Slider*/
            #partner-home {
                &.slider {
                    width: 100%;
                    margin: 0 auto; //  z-index: 1050;
                    .slick-list {
                        // z-index: 1041;
                    }
                } // .slick-slide {
                //   margin: 0px 30px;
                // }
                // .slick-slide img {
                //   width: 100%;
                // }
                .slick-prev:before,
                .slick-next:before {
                    color: black;
                    background-color: #e0e0e0;
                    font-size: 40px;
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    line-height: 37px;
                }
                .slick-prev {
                    position: absolute;
                    left: -45px;
                    transform: translate(-50%, -25px);
                }
                .slick-next {
                    position: absolute;
                    right: -36px;
                    transform: translate(-50%, -25px);
                }
                .slick-slide {
                    transition: all ease-in-out .3s;
                    opacity: .2;
                }
                .slick-active {
                    opacity: .5;
                }
                .slick-current {
                    opacity: 1;
                    position: relative;
                }
            }
            /*Style for Slider*/
            .partner-1-left {
                width: 50%;
                float: left;
                @media all and (max-width: 991px) {
                    width: 100%;
                }
                .partner-1-left-content {
                    .partner-1-logo {
                        padding: 20px 0;
                        @media all and (max-width: 991px) {
                            img {
                                margin: 0 auto;
                            }
                        }
                    }
                    .partner-1-title {
                        color: #fff;
                        font-size: 18px;
                        padding-bottom: 15px;
                    }
                    .partner-image-mob {
                        display: none;
                        @media all and (max-width: 991px) {
                            display: block;
                            img {
                                margin: 20px auto;
                            }
                        }
                    }
                    .partner-1-excerpt {
                        color: #fff;
                        font-size: 14px;
                    }
                    .read-more {
                        position: relative;
                        width: 155px;
                        @media all and (max-width: 991px) {
                            width: 160px;
                            margin: 0 auto;
                            text-align: left;
                        }
                        a.btn {
                            color: #fff;
                            padding: 0;
                            line-height: 1.7;
                            font-size: 16px;
                            background-color: transparent;
                            border: none;
                            &:hover,
                            &:focus,
                            &:active {
                                text-decoration: none;
                                color: #fff;
                                background-color: transparent;
                                border: none;
                                outline: none;
                                box-shadow: none;
                            }
                            &:after {
                                display: block;
                                position: absolute;
                                content: "";
                                width: 60px;
                                height: 2px;
                                right: 0;
                                background-color: #ffffff;
                                top: 15px;
                            }
                        }
                    }
                }
            }
            .partner-1-right {
                width: 48%;
                float: left;
                text-align: center;
                @media all and (max-width: 991px) {
                    display: none;
                }
                img {
                    margin: 0 auto;
                }
            }
            .partner-1-modal {
                border: 1px solid red;
                clear: both;
                width: 100%; //to hide the div wich contains the pop up details 
                position: fixed;
                z-index: -1;
                visibility: hidden;
            }
            .modal {
                position: absolute;
            }
        }
    }
    .partner-2-background {
        background-image: url('../images/partners-bg-spicejet.jpg');
        padding-top: 80px;
        padding-bottom: 80px;
        .partner-2-content {
            .partner-2-left {
                width: 50%;
                float: left;
                @media all and (max-width: 1200px) {
                    width: 100%;
                }
                .partner-2-logo {
                    padding: 30px 0 20px;
                }
                h2 {
                    color: #fff;
                    font-size: 24px;
                    padding: 0 0 30px;
                }
                .partner-2-body {
                    color: #fff;
                    font-size: 14px;
                    padding-right: 10px;
                    @media all and (max-width: 1200px) {
                        padding-right: 0;
                    }
                    img {
                        display: none;
                        @media all and (max-width: 1200px) {
                            display: block;
                            float: right;
                            width: 40%;
                            margin-left: 20px;
                            margin-bottom: 20px;
                        }
                        @media all and (max-width: 480px) {
                            float: none;
                            margin-left: 0;
                            margin-right: 0;
                            width: auto;
                        }
                    }
                }
            }
            .partner-2-right {
                width: 50%;
                float: left;
                text-align: right;
                @media all and (max-width: 1200px) {
                    display: none;
                }
            }
        }
    }
}

//modal styling
#readMoreModal {
    top: 10%;
    .modal-content {
        border-radius: 0;
        .modal-header {
            padding: 0;
            border: none;
            button {
                color: black;
                font-size: 40px;
                opacity: 1;
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 999;
                &:hover {
                    background: none;
                    color: #0000008c;
                }
            }
        }
        .modal-body {
            display: flex;
            padding: 0;
            .partner-modal-left {
                padding: 60px 30px 30px;
                flex-basis: 65%;
                max-height: 520px;
                overflow-y: auto;
                .partner-logo {
                    margin-bottom: 30px;
                    img {
                        max-width: 150px;
                        @media all and (max-width: 500px) {
                            max-width: 100px;
                        }
                    }
                }
                .partner-body {
                    font-size: 13px;
                    font-family: SourceSans-Semib;
                    p {
                        margin-bottom: 10px;
                    }
                }
                button {
                    margin-top: 30px;
                    padding: 15px 45px;
                    color: black;
                    text-transform: none;
                    font-family: SourceSans-Semib;
                    border-radius: 4px;
                    background-color: white;
                    box-shadow: 3px 3px 12px 1px #afadad8f;
                    @media all and (max-width: 500px) {
                      padding: 10px 35px;
                    }
                }
            }
            .partner-modal-right {
                flex-basis: 50%;
                img {
                    @media all and (max-width: 991px) {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}