.services-homepage-container {
    background-color: #ffff;
    background: linear-gradient(to right, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 51%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 1) 100%);
    background-size: 100% 50%;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0;
    @media all and (max-width: 1024px) {
        padding: 35px 0;

    }

    .block-title {
        max-width: 1290px;
        margin: 0 auto;

        @media all and (max-width: 1330px) {
            padding: 0 20px;
        }
    }

    .services-wrapper {
        padding: 0;
        max-width: 1290px;
        margin: 0 auto;
        justify-content: center;

        @media all and (max-width: 1330px) {
            padding: 0 20px;
        }
    }

    .action-label.view-all-services {
        text-align: center;
        padding-top: 50px;

        @media all and (max-width: 1024px) {
            padding-top: 35px;

        }
 

        a {
            button {
                box-shadow: 2px 5px 15px 1px rgba(93, 93, 93, 0.5);
                -webkit-box-shadow: 2px 5px 15px 1px rgba(93, 93, 93, 0.5);
                -moz-box-shadow: 2px 5px 15px 1px rgba(93, 93, 93, 0.5);
                padding: 20px 55px !important;

                @media all and (max-width: 1200px) {
                    padding: 15px 45px !important;

                }

                @media all and (max-width: 768px) {
                    padding: 15px 40px !important;

                }
            }
        }
    }
}