 .page-template-services {
     #content {
         padding-top: 95px !important;

         @media all and (max-width: 1330px) {
             padding-top: 90px !important;
         }

         @media all and (max-width: 991px) {
             padding-top: 84px !important;
         }

         @media all and (max-width: 709px) {
             padding-top: 89px !important;
         }

         @media all and (max-width: 400px) {
             padding-top: 82px !important;
         }
     }

     .services-content {
         background-color: #0c2160;

         .services-top {
             .block-container {
                 display: flex;
                 justify-content: space-between;
                 width: 100%;
                 padding-left: calc((100% - 1290px)/2 + 0px);

                 @media all and (max-width: 700px) {
                     flex-direction: column;
                 }

                 .services-top-left {
                     color: #fff;
                     padding: 60px 0;
                     flex-basis: 650px;

                     @media all and (max-width: 1330px) {
                         padding: 30px 20px;
                     }

                     @media all and (max-width: 700px) {
                         order: 2;
                         padding: 30px 20px 20px;
                         flex-basis: auto;
                     }

                     .service-title {
                         font-family: SourceSans-Bd;
                         font-size: 42px;
                         line-height: normal;
                         margin-bottom: 15px;

                         @media all and (max-width: 991px) {
                             font-size: 32px;
                         }

                         @media all and (max-width: 700px) {
                             font-size: 28px;
                             margin-bottom: 10px;
                             text-align: center;
                             margin-bottom: 40px;
                         }
                     }

                     .services-image {
                         display: none;

                         @media all and (max-width: 1024px) {
                             background-repeat: no-repeat;
                             background-size: cover;
                             background-position: center center;

                             img {
                                 opacity: 0;
                             }
                         }

                         @media all and (max-width: 700px) {
                             display: block;
                             margin-bottom: 30px;

                             img {
                                 width: 100%;
                             }
                         }
                     }

                     .service-description {
                         p {
                             font-family: SourceSans-Rg;
                             font-size: 18px;
                             padding-right: 50px;
                             line-height: normal;

                             @media all and (max-width: 700px) {
                                 font-size: 17px;
                                 padding-right: 0px;
                             }

                             &:last-child {
                                 margin-bottom: 0;
                             }
                         }
                     }
                 }

                 .services-top-right {
                     flex-grow: 2;
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-position: center center;

                     img {
                         width: 100%;
                         height: 100%;
                         object-fit: cover;

                         @media all and (max-width: 1024px) {
                             opacity: 0;
                         }

                         @media all and (max-width: 700px) {
                             display: none;
                         }
                     }
                 }
             }
         }

         .services-bottom {
             background-color: #fff;

             .block-container {
                 max-width: 1290px;
                 margin: 0 auto;
                 padding-top: 30px;

                 @media all and (max-width: 1330px) {
                     padding: 30px 20px 0;
                 }

                 .service-type {
                     margin-bottom: 70px;

                     @media all and (max-width: 991px) {
                         margin-bottom: 40px;
                     }

                     &:last-child {
                         margin-bottom: 0px;
                     }

                     .services-wrapper {
                         display: flex;
                         flex-wrap: wrap;
                         text-align: left;

                         .service-slider {
                             @media all and (max-width: 1024px) {
                                 max-height: 350px;
                             }
                             .service-block-left {
                                 height: 100%;

                                 img {
                                     height: 100%;
                                     object-fit: cover;
                                 }
                             }
                             .service-title {
                                 font-family: SourceSans-Semib;
                             }
                             .service-body {
                                 p {
                                     display: -webkit-box;
                                     height: 46px;
                                     //margin-bottom: 10%;
                                     line-height: 22px;
                                     -webkit-line-clamp: 2;
                                     -webkit-box-orient: vertical;
                                     overflow: hidden;
                                     text-overflow: ellipsis;
                                 }
                             }
                             .action-label,.service-maincontent {
                                 display: none;
                             }
                         }
                         .modal {
                             .modal-dialog {
                                 .modal-content {
                                     .modal-header {
                                         padding: 0;
                                         height: 0;
                                         button.close {
                                             position: relative;
                                             top: 0;
                                             right: 0;
                                             font-size: 50px;
                                         }
                                     }
                                     .modal-body {
                                        display: flex;
                                        padding: 0;
                                        .service-block-left {
                                            flex-basis: 50%;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                        .service-block-right  {
                                            padding: 30px 60px 0 30px;
                                            flex-basis: 65%;
                                            max-height: 520px;
                                            .service-title {
                                                font-size: 20px;
                                                font-family: SourceSans-SemiB;
                                                margin-bottom: 0;
                                            }
                                            .service-body {
                                                max-height: 340px;
                                                overflow-y: auto;
                                                padding: 20px 20px 0 0;
                                                p {
                                                    font-size: 15px;
                                                    font-family: SourceSans-SemiB;
                                                    margin-bottom: 25px;
                                                }
                                            }
                                        }
                                     }
                                 }
                             }
                         }
                     }
                 }

             }
         }
     }
 }
